.Introduction-contenedor{
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(206, 206, 206);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: var(--fondoTransparente);
    border: 5px solid var(--verdeDiscreto);
}