body{
    font-family: sans-serif;
    background-color: black;
    height: 100%;
    /* width: 100%; */
    margin: 0%;
    padding: 5%;
}

hr{
    border-top: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.section{
    color: white;
    height:max-content;
    width: max-content;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    text-align: center;
}
.section {
    display:block;
    height: 80%;
    width: 500px;
    margin-bottom: 25px;
}

.principal{
    height: 800px;
    float: left;
}

.menu{
    float: right;
    height: 600px;
}

.estado{
    float: right;
    height: 150px;
    text-align: left;
    background-color: black;
}
.estado > div > h3{
    position: absolute;
}

#state{
    text-align: center;
    /* font-size: 50px; */
    display: inline;
    /* margin-left: 50px; */
    display: block;
}
#state > span{
    font-size: 95px;
}
/* #stateCircle{
    background-color: aqua;
    height: 15px;
    width: 15px;
    margin-left: 25px;
    margin-bottom: 8px;
    border-radius: 50%;
    display: inline-block;
} */
.conectado > span{
    color: rgb(0, 255, 34);
}
.conectado{
    color: rgb(0, 255, 34);
    font-size: 40px;
}
.desconectado{
    margin-top: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.desconectado > span{
    color: rgb(51, 0, 0);
}
.conectando, .conectando > span{
    color:azure;
}
.conectando, .conectando > span{
    font-size: 40px;
}

.boton{
    border: none;
    padding: 15px;
    width: 100%;
    background-color: #606060;
    border-radius: 25px;
    color: white;
    font-size: 26px;
    margin-bottom: 20px;
    font-family: inherit;
}
.boton:hover{
    background-color: #959595;
    cursor: pointer;
}
.botonArduino{
    display: block;
    width: 100%;
    padding: 12px;
    color: white;
    border-style: none;
}
.botonArduino.conectar{
    background-color: #014206;
}
.botonArduino.desconectar{
    background-color: #420101;
}
.Contenido_Estado > div{
    width: 100%;
}
.menuConectar{
    color: aliceblue;
}
.menuConectar > input{
    background-color: rgba(0, 0, 0, 0.1);
    color: azure;
    /* border-style: none; */
    font-size: 20px;
    width: 150px;
}
.contenido {
    font-size: 18px;
    /* max-height: max-content; */
    height: 90%;
    overflow-y: scroll;
}
.contenido::-webkit-scrollbar{
    width: 12px;
}
.contenido::-webkit-scrollbar-track{
    background: rgb(41, 41, 41);
}
.contenido::-webkit-scrollbar-thumb {
    background-color: #003e3e;
    border-radius: 20px;
    border: 3px solid #00da98;
}

.contenido .header{
    font-size: 24px;
    color: rgb(0, 151, 197);
    font-weight: bold;
    text-align: left;
}
.contenido .info{
    color: #959595;
    text-align: left;
}
.contenido .botonContenido{
    background-color: #606060;
    color: white;
    border-style: none;
    padding: 10px 14px;
    border-radius: 10px;
    margin: 15px 5px;
}
.contenido .botonContenido:hover{
    background-color: #4c6375;
    /* font-weight: bold; */
    cursor: pointer;
}