:root {
    --verdeClaro: #00da98;
    --verdeMenta: #1fffbc;
    --verdeDiscreto: #4ca78c;
    --fondo: #0e1826;
    --fondoContenidoEstado: #294D53;
    --fondoTransparente: rgba(0, 0, 0, 0.3);
    --rojo: rgb(48, 0, 0);
    --rojoPresionado: rgb(80, 0, 0);
  }

body{
    font-family: sans-serif;
    background-color: var(--fondo);
    margin: 0%;
    padding: 15px 60px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

hr{
    border-top: 4px solid var(--verdeDiscreto);
    border-radius: 4px;
}
input{
    background: var(--fondoTransparente);
    border-style: none;
    font-size: 18px;
    color: var(--verdeClaro);
    font-family: inherit;
    padding: 10px;
    padding: 5px 10px;
}

.section, .subsection{
    color: white;
    padding: 10px;
    /* background: var(--fondoContenidoEstado); */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    text-align: center;
    display:block;
    margin: 0;
}
.section{
    width: 55%;
}
.subsection{
    width: 100%;
}
.control{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.principal{
    height: 610px;
}

.menu{
    margin-bottom: 25px;
}

.estado{
    float: right;
    text-align: left;
    height: fit-content;
    background-color: var(--fondoContenidoEstado);
}
.estado > div > h3{
    position: absolute;
}

#state{
    text-align: center;
    display: inline;
    display: block;
    margin: 15px auto;
}

.conectado{
    color: rgb(151 255 168);
    font-size: 40px;
}
.desconectado{
    margin-top: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.conectando{
    color:azure;
}
.conectando{
    font-size: 40px;
}

.boton, .botonStart, .botonIntroduccion{
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #ffffff2a;
    border-radius: 25px;
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: inherit;
}
.boton:hover, .botonStart:hover, .botonIntroduccion:hover{
    background-color: #959595;
    cursor: pointer;
}
.botonArduino{
    display: block;
    width: 100%;
    padding: 12px;
    color: white;
    border-style: none;
    font-size: 16px;
}
.botonArduino.conectar{
    background-color: rgba(255, 255, 255, 0.15);
}
.botonArduino.conectar:hover{
    background-color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
}
.botonArduino.desconectar{
    background-color: #3a131361;
}
.botonArduino.desconectar:hover{
    background-color: #8d0c0c61;
    cursor: pointer;
}
.Contenido_Estado > div{
    width: inherit;
}
.Contenido_Estado .info{
    font-size: 20px;
    color: var(--verdeDiscreto);
    margin: 0;
    text-align: left;
}
.menuConectar{
    color: #a5a5a5;
    font-size: 18px;
    padding: 10px;
}
.menuConectar > input{
    background-color: var(--fondoTransparente);
    color: azure;
    /* border-style: none; */
    font-size: 18px;
    width: 150px;
}
.contenido {
    font-size: 18px;
    /* max-height: max-content; */
    height: 85%;
    overflow-y: scroll;
}
.contenido::-webkit-scrollbar{
    width: 12px;
}
.contenido::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}
.contenido::-webkit-scrollbar-thumb {
    background-color: var(--fondoContenidoEstado);
    border-radius: 20px;
    border: 3px solid var(--verdeClaro);
}

.contenido .header{
    font-size: 24px;
    color: var(--verdeClaro);
    font-weight: bold;
    text-align: left;
}
.contenido .subheader{
    font-size: 20px;
    color: var(--verdeDiscreto);
    font-weight: bold;
    text-align: left;
}
.contenido .info{
    color: #959595;
    text-align: left;
}
.contenido .botonContenido{
    background-color: #606060;
    color: white;
    border-style: none;
    padding: 10px 14px;
    border-radius: 10px;
    margin: 15px 5px;
}
.contenido .botonContenido:hover{
    background-color: #4c6375;
    /* font-weight: bold; */
    cursor: pointer;
}
.dosColumnas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dosColumnas > p,
.dosColumnas > label, 
.dosColumnas > input 
{
    width: 40%;
    margin: 10px 0;
}
.dato{
    background: #00000069;
    padding: 5px 10px;
    text-align: center;
}
.start{
    background-color: var(--verdeDiscreto);
}
.start:hover{
    background-color: var(--verdeMenta);
}
.stop{
    background-color: var(--rojo);
}
.stop:hover{
    background-color: var(--rojoPresionado);
}
/* Graficas */
.main-svg{
    /* background-color: #00000000; */
}
/* Animación de inicio */
.oscurecido > .estado, .desvanecido > .estado{
    /* height: 5; */
    width: calc((100% - 120px)*.4);
    /* transition: all 500ms; */
}
.desvanecido > .animado{
    /* transform: translate(74%, 187px); */
    /* transform: translate(74%, 150%); */
    transform: translateY(-200px);
    opacity: 0;
    
    transition: all 500ms ease;
}
.oscurecido, .desvanecido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: all 500ms ease;
}
.oscurecido{
    background-color: rgba(0,0,0,0.9);
}
.oscurecido:hover{
    background-color: rgba(0,0,0,0.85);

}
.desvanecido{
    opacity: 0;
}
.presentacion{
    margin-bottom: 20px;
}
.contenedorIntroduccion{
    width: 30%;
    margin-top: 20px;
    /* position: absolute; */
    /* bottom: 0px; */
    /* left: 0px; */
}