:root {
    --verdeClaro: #00da98;
    --verdeMenta: #1fffbc;
    --verdeDiscreto: #4ca78c;
    --fondo: #0e1826;
    --fondoContenido: #294D53
  }

body{
    font-family: sans-serif;
    background-color: var(--fondo);
    /* height: 100%; */
    /* width: 100%; */
    margin: 0%;
    padding: 15px 60px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

hr{
    border-top: 4px solid var(--verdeDiscreto);
    border-radius: 4px;
}
input{
    background: rgba(0, 0, 0, 0.3);
    border-style: none;
    font-size: 18px;
    color: var(--verdeClaro);
    font-family: inherit;
    padding: 10px;
    padding: 5px 10px;
}

.section, .subsection{
    color: white;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    text-align: center;
    display:block;
    margin: 0;
}
.section{
    width: 55%;
}
.subsection{
    width: 100%;
}
.control{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.principal{
    height: 650px;
}

.menu{
    /* height: 600px; */
    margin-bottom: 25px;
}

.estado{
    float: right;
    text-align: left;
    height: fit-content;
    background-color: var(--fondoContenido);
}
.estado > div > h3{
    position: absolute;
}

#state{
    text-align: center;
    display: inline;
    display: block;
    margin: 15px auto;
}
/* #stateCircle{
    background-color: aqua;
    height: 15px;
    width: 15px;
    margin-left: 25px;
    margin-bottom: 8px;
    border-radius: 50%;
    display: inline-block;
} */
.conectado{
    color: rgb(151 255 168);
    font-size: 40px;
}
.desconectado{
    margin-top: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.conectando{
    color:azure;
}
.conectando{
    font-size: 40px;
}

.boton, .botonStart{
    border: none;
    padding: 15px;
    width: 100%;
    background-color: #ffffff2a;
    border-radius: 25px;
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: inherit;
}
.boton:hover, .botonStart:hover{
    background-color: #959595;
    cursor: pointer;
}
.botonArduino{
    display: block;
    width: 100%;
    padding: 12px;
    color: white;
    border-style: none;
    font-size: 16px;
}
.botonArduino.conectar{
    background-color: rgba(255, 255, 255, 0.15);
}
.botonArduino.conectar:hover{
    background-color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
}
.botonArduino.desconectar{
    background-color: #3a131361;
}
.botonArduino.desconectar:hover{
    background-color: #8d0c0c61;
    cursor: pointer;
}
.Contenido_Estado > div{
    width: inherit;
}
.Contenido_Estado .info{
    font-size: 20px;
    color: var(--verdeDiscreto);
    margin: 0;
    text-align: left;
}
.menuConectar{
    color: #a5a5a5;
    font-size: 18px;
    padding: 10px;
}
.menuConectar > input{
    background-color: rgba(0, 0, 0, 0.1);
    color: azure;
    /* border-style: none; */
    font-size: 18px;
    width: 150px;
}
.contenido {
    font-size: 18px;
    /* max-height: max-content; */
    height: 85%;
    overflow-y: scroll;
}
.contenido::-webkit-scrollbar{
    width: 12px;
}
.contenido::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}
.contenido::-webkit-scrollbar-thumb {
    background-color: #003e3e;
    border-radius: 20px;
    border: 3px solid #00da98;
}

.contenido .header{
    font-size: 24px;
    color: var(--verdeClaro);
    font-weight: bold;
    text-align: left;
}
.contenido .subheader{
    font-size: 20px;
    color: var(--verdeDiscreto);
    font-weight: bold;
    text-align: left;
}
.contenido .info{
    color: #959595;
    text-align: left;
}
.contenido .botonContenido{
    background-color: #606060;
    color: white;
    border-style: none;
    padding: 10px 14px;
    border-radius: 10px;
    margin: 15px 5px;
}
.contenido .botonContenido:hover{
    background-color: #4c6375;
    /* font-weight: bold; */
    cursor: pointer;
}
.dosColumnas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dosColumnas > p,
.dosColumnas > label, 
.dosColumnas > input 
{
    width: 40%;
    margin: 10px 0;
}
.dato{
    background: #00000069;
    padding: 5px 10px;
    text-align: center;
}
.start{
    background-color: var(--verdeDiscreto);
}
.start:hover{
    background-color: var(--verdeMenta);
}