.monitorSerial{
    transition: all 500ms ease;
    background-color: var(--fondo);
    position: fixed;
    bottom: 0px;
    left: 15%;
    z-index: 2;
    width: 70%;
    height: 70%;
    padding: 10px;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.monitorSerial.abajo{
    transform: translateY(510px);
    
}
.contenedorSerial{
    background-color: black;
    height: 65%;
    color: white;
    overflow-y: scroll;
    text-align: left;
}
.contenedorSerial::-webkit-scrollbar{
    width: 12px;
}
.contenedorSerial::-webkit-scrollbar-track{
    background: var(--fondoTransparente);
}
.contenedorSerial::-webkit-scrollbar-thumb {
    background-color: var(--fondoContenidoEstado);
    border-radius: 20px;
    border: 3px solid var(--verdeClaro);
}

.inputMonitorSerial{
    width: 100%;
    margin-top: 10px;
}
.sendMonitorSerial{
    width: 50%;
    margin: auto;
}
.cerrarSerial{
    position: absolute;
    right: 0px;
    top: 8px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    background-image: url('../../../../public/images/close.png');
}