.appContent{
    margin-top: 40px;
    height: 654px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}



hr{
    border-top: 4px solid var(--verdeDiscreto);
    border-radius: 4px;
}
input{
    background: var(--fondoTransparente);
    border-style: none;
    font-size: 18px;
    color: var(--verdeClaro);
    font-family: inherit;
    padding: 10px;
    padding: 5px 10px;
}

.section, .subsection{
    color: var(--colorTexto);
    padding: 10px;
    /* background: var(--fondoContenidoEstado); */
    /* background: rgba(255, 255, 255, 0.15); */
    background: var(--fondoTransparente);
    border-radius: 15px;
    text-align: center;
    margin: 0;
    display: block;
}
.section{
    width: 50%;
}
.subsection{
    width: 100%;
}
.control{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.principal{
    height: 580px;
}

.bloqueado{
    opacity: 0.5;
}

.menu{
    margin-bottom: 25px;
}

.estado{
    float: right;
    text-align: left;
    height: fit-content;
    background-color: var(--fondoContenidoEstado);
}
.estado > div > h3{
    position: absolute;
}

#state{
    text-align: center;
    display: inline;
    display: block;
    margin: 15px auto;
}




.contenidoMenu{
    display: flex;
    flex-direction: column;
}

.contenido .botonContenido{
    background-color: var(--fondoBoton);
    color: white;
    border-style: none;
    padding: 10px 14px;
    border-radius: 10px;
    margin: 15px 5px;
    transition: all 500ms ease;
}
.contenido .botonContenido:hover{
    background-color: var(--fondoBotonHoverAzul);
    /* font-weight: bold; */
    cursor: pointer;
}
.greenButton{
    transition: all 500ms ease;
    color: var(--colorTexto);
    background-color: var(--verdeDiscreto);
}
.greenButton:hover{
    background-color: var(--verdeMenta);
}
.backButton{
    color: var(--colorTexto);
    background-color: var(--fondoBotonHoverAzul);
}
.backButton:hover{
    background-color: var(--fondoContenidoEstado);
}
/* Animación de inicio */
.oscurecido > .estado, .desvanecido > .estado{
    /* height: 5; */
    width: calc((100% - 120px)*.4);
    /* transition: all 500ms; */
}
.animado{
    /* transform: translate(74%, 187px); */
    /* transform: translate(74%, 150%); */
    transform: translateY(-200px);
    /* opacity: 0; */
    
    transition: all 500ms ease;
}
.transparente{
    opacity: 0;
}
.visible{
    opacity: 1;
}
.oscurecido, .desvanecido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 6px);;
    width: calc(100% - 6px);
    transition: all 500ms ease;
}
.oscurecido{
    background-color: rgba(0,0,0,1);
    border: 3px solid var(--verdeOscuro);
}
.oscurecido:hover{
    background-color: rgba(0,0,0,0.85);

}
.desvanecido{
    opacity: 0;
}
.desaparecido{
    display: none;
}
.contenedorIntroduccion{
    width: 30%;
    margin-top: 20px;
    /* position: absolute; */
    /* bottom: 0px; */
    /* left: 0px; */
}

@-webkit-keyframes temblor{
    0%{-webkit-transform: translate(0px, 0px);}
    10%{-webkit-transform: translate(20px, 0px);}
    20%{-webkit-transform: translate(0px, 0px);}
    30%{-webkit-transform: translate(20px, 0px);}
    40%{-webkit-transform: translate(0px, 0px);}
    50%{-webkit-transform: translate(20px, 0px);}
    60%{-webkit-transform: translate(0px, 0px);}
    70%{-webkit-transform: translate(20px, 0px);}
    80%{-webkit-transform: translate(0px, 0px);}
    90%{-webkit-transform: translate(20px, 0px);}
    100%{-webkit-transform: translate(0px, 0px);}
}
#estadoConexion{
    transition: all 500ms ease;
}
.temblor{
    -webkit-animation: temblor 0.5s 1;
    background-color: rgba(160, 0, 0, 0.652);
}
.errorMessage{
    font-size: 25px;
}
.errorMessageBye{
    transition: all 500ms ease;
    opacity: 0;
}


.texto{
    font-size: 30px;
    color: #00da98;
}
.menuDesarrollo{
    background-color: var(--fondoContenidoEstado);
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}
.menuDesarrollo > p{
    margin-top: 0px;
    margin-bottom: 10px;
}
.monitorSerial{
    transition: all 500ms ease;
    background-color: var(--fondo);
    position: fixed;
    bottom: 0px;
    left: 15%;
    z-index: 2;
    width: 70%;
    height: 70%;
    padding: 10px;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.monitorSerial.abajo{
    transform: translateY(510px);
    
}
.contenedorSerial{
    background-color: black;
    height: 65%;
    color: white;
    overflow-y: scroll;
}
.contenedorSerial::-webkit-scrollbar{
    width: 12px;
}
.contenedorSerial::-webkit-scrollbar-track{
    background: var(--fondoTransparente);
}
.contenedorSerial::-webkit-scrollbar-thumb {
    background-color: var(--fondoContenidoEstado);
    border-radius: 20px;
    border: 3px solid var(--verdeClaro);
}

.inputMonitorSerial{
    width: 100%;
    margin-top: 10px;
}
.sendMonitorSerial{
    width: 50%;
    margin: auto;
}
.cerrarSerial{
    position: absolute;
    right: 0px;
    top: 8px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    background-image: url('./images/close.png');
}
.botonesDesarrollo{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.aviso{
    position: fixed;
    width: 400px;
    left: calc(50% - 200px);
    z-index: 4;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    transition: all 500ms ease;
}
.aviso.warning{
    background-color: #f8d7da;
    color: #842029;
}
.aviso.info{
    background-color: #d7ecf8;
    color: black;
}
.aviso.arriba{
    top: -40px;
    opacity: 0;
}
.aviso.posicionado{
    top: 43px;
    opacity: 1;
    
}
.aviso.bye{
    top: 100px;
    opacity: 0;
}