.mainContent{
    height: calc(700px - 40px );
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.mainSection{
    width: 60%;
    height: 250px;
}
.secondarySection{
    width: 35%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-content: center;
}